.arrived-items{
    background-image: url('../../../assets/home/arrived.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    
    /* filter: blur(2px); */
    /* -webkit-filter: blur(2px); */
}